{% extends "admin/base.html" %}

{% block content %}

    <ul>
        <li><a href="{% url contacts_all %}">ContactsAll</a></li>
        <li><a href="{% url contacts_active %}">ContactsActive</a></li>
        <li><a href="{% url contacts_active_include %}">ContactsActiveInclude</a></li>
        <li><a href="{% url contacts_active_exclude %}">ContactsActiveExclude</a></li>
        <li><a href="{% url contacts_active_columns %}">ContactsActiveColumns</a></li>
        <li><a href="{% url contacts_active_view_method %}">ContactsActiveViewMethod</a></li>
        <li><a href="{% url company_all %}">CompanyAll</a></li>
    </ul>

{% endblock %}