{% extends "admin/base_site.html" %}
{% spaceless %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/changelists.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}canary/jQuery.thMenu/css/jQuery.thMenu.admin.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}canary/css/report.css" />

    {% for url, params in report.get_extra_css.items %}
        <link{% for param_name, param_value in params.items %} {{ param_name }}="{{ param_value }}"{% endfor %} href="{{ STATIC_URL }}{{ url }}" />
    {% endfor %}
{% endblock %}

{% block footer %}
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/calendar.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/DateTimeShortcuts.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}canary/jquery/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}canary/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}canary/jQuery.thMenu/js/jQuery.thMenu.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}canary/js/report.min.js"></script>

    {% if report.js_context %}
        <script type="text/javascript">
            var canary = {
                {% for js_var, js_value in report.js_context.items %}
                    "{{ js_var }}": "{{ js_value }}"{% if not forloop.last %},{% endif %}
                {% endfor %}
            };
        </script>
    {% endif %}

    {% for url, params in report.get_extra_js.items %}
        <script{% for param_name, param_value in params.items %} {{ param_name }}="{{ param_value }}"{% endfor %} src="{{ STATIC_URL }}{{ url }}"></script>
    {% endfor %}

    <script type="text/javascript">
        $(function() {
            {# TODO: Move all this to js included by ColumnHeader #}
            /* Turn table headers into menus. */
            $('.th-menu').thMenu({
                clickable_containers: '.ui-datepicker,.ui-datepicker-header,.ui-datepicker-calendar'
            });

            /* Turn date fields into fancy calendars. */
            $(".datepicker:not(.allow-weekends)").datepicker({ beforeShowDay: function(b){b=b.getDay();return[b>0&&b<6,""]}, dateFormat: 'yy-mm-dd', });
            $(".datepicker.allow-weekends").datepicker();
        });
    </script>
{% endblock %}
{% endspaceless %}
