<p class="paginator">
    {% if report.paginator.num_pages > 1 %}
        {% for page in report.paginator.page_range %}
            {% if page == report.page.number %}
                <span class="this-page">{{ page }}</span>
            {% else %}
                <a href="" onclick="canaryPaginationManager.loadPage(event, '{{ page }}');"{% if forloop.last %}class="end"{% endif %}>{{ page }}</a>
            {% endif %}
        {% endfor %}
    {% endif %}
    {{ report.paginator.count }} items
</p>
