{% extends "admin/canary/base.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/">{% trans 'Home' %}</a>{% if title %} &rsaquo; {{ title }}{% endif %}
        {% spaceless %}
        {% for crumb_title, crumb_url in report_meta.breadcrumbs %}
            &rsaquo;
            {% if crumb_url %}
                <a href="{{ crumb_url }}">{{ crumb_title }}</a>
            {% else %}
                {{ crumb_title }}
            {% endif %}
        {% endfor %}
        <a href="" class="canary-report-clear">Clear Filters/Sorts</a>
        {% endspaceless %}
    </div>
{% endblock %}

{% block content %}
    <div id="content-main">
        <div class="module filtered" id="changelist">
            <form action="" method="post" name="canary-report-options-form" id="changelist-form">
                {% csrf_token %}

                {{ report.pagination_form }}
                {{ report.sort_manager.form }}

                <div class="results">
                    <table>
                        <thead>
                            <tr>
                                {% for header in report.headers %}
                                    <th>{{ header|safe }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                        {% if report.paginator.count > 0 %}
                            {% for row in report.iter_rows %}
                                <tr class="{% cycle 'row1' 'row2' %}">
                                    {% for column in row %}
                                        <td>{% if column %}{{ column|safe }}{% endif %}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td class="canary-report-empty" colspan="{{ report.headers|length }}">The report has no results.  Try <a href="">clearing filters</a>.</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>

                {% include "admin/canary/pagination.html" %}
            </form>
        </div>
    </div>
{% endblock %}
