<ul class="canary-report-sort-menu">
    {% for field_name, choice_id, choice, sorted in sort.get_display_choices %}
        {% if sorted %}
            <li class="th-menu-item"><a href="" onclick="canarySortManager.updateSortColumn(event, 'remove', '{{ field_name }}', '{{ choice_id }}');" class="canary-sort-link canary-sort-link-active">Sort {{ choice }}</a></li>
        {% else %}
            <li class="th-menu-item"><a href="" onclick="canarySortManager.updateSortColumn(event, 'add', '{{ field_name }}', '{{ choice_id }}');" class="canary-sort-link">Sort {{ choice }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
