.canary-report-clear {float: right;}

.canary-report-empty {font-weight: bold; padding: 20px; text-align: center;}

.th-menu-item a.canary-filter-link-active {color: red;}
.th-menu-item a.canary-sort-link-active {color: red;}
.th-menu-item ul.canary-report-filter-menu {padding-left: 0;}
.th-menu-item ul.canary-report-sort-menu {padding-left: 0;}
