{% spaceless %}
<ul class="canary-report-filter-menu">
    <input type="hidden" name="{{ filter_name }}" id="{{ filter_input_id }}" value="{{ filter_value }}">
    {% for choice_id, choice in filter.choices %}
        {% if filter_value == choice_id %}
            <li class="th-menu-item"><a href="" id="{{ filter.get_prefix }}-choice-filter-{{ choice_id }}" onclick="canaryFilterManager.filterColumn(event, '{{ filter_input_id }}', '');" class="canary-filter-link canary-filter-link-active">{{ filter.get_prefix_label }} {{ choice }}</a></li>
        {% else %}
            <li class="th-menu-item"><a href="" id="{{ filter.get_prefix }}-choice-filter-{{ choice_id }}" onclick="canaryFilterManager.filterColumn(event, '{{ filter_input_id }}', '{{ choice_id }}');" class="canary-filter-link">{{ filter.get_prefix_label }} {{ choice }}</a></li>
        {% endif %}
    {% endfor %}
{% endspaceless %}
