{% for field in form %}
    <p class="canary-report-filter-ctr-inline">
        {{ field.label }}
        {{ field }}
        {{ field.help_text }}
    </p>
{% endfor %}
<input type="submit" name="{{ prefix }}-filter" value="{{ label }}" />
<input type="submit" name="{{ prefix }}-filter-clear" value="Clear {{ label }}" />
